
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}
main {
    padding: 75px;
    text-align: center;
}
h1 {
    margin-bottom: 20px;
}
input {

width: 508px;

height: 50px;

margin-bottom: 20px;

color: black;

font-size: 2rem;

font-family: Verdana, Geneva, Tahoma, sans-serif;

text-align: end;

}
.numberContainer {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
   
}
    
.btn {
    height: 115px;
    font-size: 2rem;
    flex-basis: 115px;
}
.btn:hover {
    cursor: pointer;
    border: 2px solid black;
}
#btnZero {
   align-self: end;
}