
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}
main {
    /* padding: 5px; */
    text-align: center;
    background-color: rgb(22, 123, 148);
}
h1 {
    padding: 20px;
}
input {
    width: 409px;
    height: 60px; 
    margin-bottom: 3px;
    border-radius: 6px;
    font-size: 2.5em; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: end;
    border-radius: 6px;
}
.numberContainer {
    width: 418px;;
    display: flex;
    gap: 3px;
    flex-wrap: wrap;
    justify-content: center;   
    /* margin-bottom: 30px; */
}
    
.btn {
    height: 100px;
    flex-basis: 100px;
    font-size: 2em;
    border-radius: 6px;
}
.btn:hover {
    cursor: pointer;

}
#btnZero {
    flex-basis: 200px;
    margin-bottom: 6px;
}

.nan1 {
    background-color: coral;
}
.nan2 {
    background-color:powderblue;
}